<ul class="list-group">
    <a href="/admin/profile"><li class="list-group-item">Profile</li></a>
    <a href="/admin/orders"><li class="list-group-item">Order</li></a>
    <a href="/admin/products"><li class="list-group-item">Product</li></a>
    <a href="/admin/users"><li class="list-group-item">User</li></a>
    <a href="/admin/roles"><li class="list-group-item">Role</li></a>
</ul>